body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: center;
}

.headercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup1 {
    width: fit-content;
}

.headerimg {
    width: 350px;
    height: auto;
    display: inline-flex;
}

.headertext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    padding: 0 24px;
}

.navbar {
    display: inline-flex;
    right: 0;
    justify-content: space-between;
    padding: 0 18px;
    
}

ul {
    list-style-type: none;
    display: inline-flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 10px;
}

