body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 28px;
    margin: 0;
    
}

.headercontent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup1 {
    width: fit-content;
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    margin: 4px;
}

.headerimg {
    width: 200px;
    height: auto;
    display: inline-flex;
}

.headertext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 450px;
    padding: 0 24px;
}

.navbar {
    display: inline-flex;
    right: 0;
    justify-content: space-between;
    padding: 0 18px;
    
}

ul {
    list-style-type: none;
    display: inline-flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 10px;
}

.content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.image1,
.image2,
.image3,
.image4 {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: inherit;
    padding: 10px 16px;
    text-align: center;
    border: 5px solid #3882f6;
    border-radius: 15px;
}
